@{
    Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>Stylist Details</h1>

<div class="info-container">
    <h4>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>
    <p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>
</div>


<p>@Html.ActionLink("Back to List", "Index")</p>
<p>@Html.ActionLink("Edit info", "Edit", new {id = Model.StylistId})</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>