@{
  Layout = "_Layout";
}

@model HairSalon.Models.Customer

<h1>Edit Customer</h1>

<div class="form-container">
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CustomerId)

  @Html.LabelFor(model => model.Name)<br>
  @Html.EditorFor(model => model.Name)<br><br>
  
  @Html.LabelFor(model => model.Stylist)
  <select>
    @foreach (var stylist in ViewBag.activeStylist)
    {
      <option value="stylist.StylistId">@stylist.Name</option>
    }
  </select>
  <input type="submit" value="Save" class="btn btn-secondary"/>
}
</div>

<p>@Html.ActionLink("Back to List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>